html, body {
    height: 100%;
    margin: 0;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(54, 69, 75);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(5, 98, 134);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(36, 49, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

#BOX {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
   
}

